@import "../../Styles/partials/mixins";
.Description{
    &__title{
        font-weight: 700;
        font-size: 2rem;
    }
    &__about{
       border-bottom: 2px solid $mercury;
       display: flex;
       justify-content: space-between;
       color: $silver;
       margin: 0.5rem 0;
        &-left{
            display: flex;
            justify-content: space-around;
            &--channel{
                padding-right: 1rem;
                font-weight: 700;
                color: $black;
            }
        }
        &-right{
            width: 50%;
            display: flex;
            justify-content: space-around;
            margin-right: 0.5rem;
        }

    }
    &__main{
        padding: 1rem 1rem 1rem 0rem;
        line-height: 1.5rem;
        
    }
    
}