@import "../../Styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography";

.Videos{
    width: 20rem;
    display: flex;
    &__image{
    
        &-picture{
            width: 8rem;
            height: 5rem;
            object-fit: cover;
            border-radius: 0.5rem;
            margin-right: 0.5rem;
    }
    }
    &__title{
        text-decoration: none;
        
            &-link{
            font-size: 1rem;
            font-weight: 600;
            color: $black;
            text-decoration: none;
            &:hover {
                text-decoration: none;  
            }
    }
    }
    &__author{

    }
    
}
