@use '../../Styles/partials/colors';

.header{
    padding: 1 rem;
    display: flex;
    flex-direction: row;
      &__logo{
        width: 10rem;
        height: 2rem;
      }
      &-nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
            &__search{
                padding-left: 5rem;
            }
            &-input
           {
            background-color: #FAFAFA;
            height: 2.50rem;
            border-radius: 0.25rem;
            padding : 0.75rem;
            border-color: #E1E1E1;
           }
           &__search-icon {
            padding-left: 1rem;
            position: absolute;
           }
           &__button{
            min-width: 9.5rem;
        max-width: 15rem;
        padding: 0 0.5rem;
           }
           &__avatar{
            border-radius: 50%;
            object-fit: cover;
            width: 2.25rem;
            height: 2.25rem;
           }
      }
     
}