@import "./typography";
@import "./variables";

@mixin mobile {
    @media screen and (max-width: $mobilemax) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet) and (max-width: $desktop ) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

@mixin avatar{
    background-color: black;
    width: 3rem;
    height: 2.95rem;
    border-radius: 3rem;
    object-fit: cover;
  }
  
@mixin button{
    background-color: $brainflix-blue;
      border: none;
      color: white;
      height: 100%;
      font-family: "Avenir";
      font-weight: 700;
      border-radius: 0.5rem;
      &:hover{
        background-color: $brainflix-dark-blue;
      }
}

